Repository amdigbari/dates: changes, and which lefthook commands are due for each by the changed paths.
All: media_hub_scripts, media_hub_assets, media_manager

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    media_hub_scripts:
      glob: 'media_hub/*.{js,ts,jsx,tsx,mjs}'
      run: yarn format {staged_files} && cd media_hub && yarn lint && cd .. && git add {staged_files}
    media_hub_assets:
      glob: 'media_hub/*.{json,scss,css}'
      run: yarn format {staged_files} && git add {staged_files}
    media_manager:
      glob: 'media_manager/**/*.{kt,kts}'
      run: ktlint --format {staged_files} && ktlint {staged_files} && git add {staged_files}

format:
  parallel: true
  commands:
    media_hub:
      glob: 'media_hub/**/*.{js,ts,jsx,tsx,json,scss,css,mjs}'
      run: yarn format {all_files}
    media_manager:
      glob: 'media_manager/**/*.{kt,kts}'
      run: ktlint --format {all_files}

lint:
  parallel: true
  commands:
    media_hub:
      glob: 'media_hub/**/*.{js,ts,jsx,tsx,mjs}'
      root: 'media_hub'
      run: yarn lint
    media_manager:
      glob: 'media_manager/**/*.{kt,kts}'
      run: ktlint {all_files}

Add login page
  media_hub/i18n.json
  media_hub/locales/fa-IR/auth/login.json
  media_hub/locales/fa-IR/common.json
  media_hub/src/app/auth/login/page.tsx
  media_hub/src/components/auth/LoginForm.tsx
  media_hub/src/components/auth/RegisterForm.tsx
  media_hub/src/components/auth/RegisterFormTypes.ts
  media_hub/src/components/auth/index.ts
Due: media_hub_scripts, media_hub_assets

Add login page (#11)
  media_hub/i18n.json
  media_hub/locales/fa-IR/auth/login.json
  media_hub/locales/fa-IR/common.json
  media_hub/src/app/auth/login/page.tsx
  media_hub/src/components/auth/LoginForm.tsx
  media_hub/src/components/auth/RegisterForm.tsx
  media_hub/src/components/auth/RegisterFormTypes.ts
  media_hub/src/components/auth/index.ts
Due: media_hub_scripts, media_hub_assets

Add Internationalization to media-manager.
  media_manager/src/main/kotlin/mediaManager/auth/AuthenticationService.kt
  media_manager/src/main/kotlin/mediaManager/auth/SecurityConfiguration.kt
  media_manager/src/main/kotlin/mediaManager/auth/TokenService.kt
  media_manager/src/main/kotlin/mediaManager/i18n/I18nConfig.kt
  media_manager/src/main/kotlin/mediaManager/i18n/I18nProperties.kt
  media_manager/src/main/kotlin/mediaManager/refreshToken/RefreshTokenService.kt
  media_manager/src/main/kotlin/mediaManager/restAPI/ExceptionHandlerController.kt
  media_manager/src/main/kotlin/mediaManager/user/CustomUserDetailsService.kt
  media_manager/src/main/kotlin/mediaManager/user/User.kt
  media_manager/src/main/kotlin/mediaManager/user/UserService.kt
  media_manager/src/main/kotlin/mediaManager/validations/OTP.kt
  media_manager/src/main/resources/application.properties
  media_manager/src/main/resources/messages_en_US.properties
Due: media_manager

Add Profile to media-manager.
  media_manager/src/main/kotlin/mediaManager/auth/AuthenticationConfiguration.kt
  media_manager/src/main/kotlin/mediaManager/auth/AuthenticationController.kt
  media_manager/src/main/kotlin/mediaManager/auth/AuthenticationService.kt
  media_manager/src/main/kotlin/mediaManager/auth/JWTAuthenticationFilter.kt
  media_manager/src/main/kotlin/mediaManager/auth/SecurityConfiguration.kt
  media_manager/src/main/kotlin/mediaManager/auth/TokenService.kt
  media_manager/src/main/kotlin/mediaManager/auth/dtos/register/RegisterRequestDto.kt
  media_manager/src/main/kotlin/mediaManager/i18n/I18nConfig.kt
  media_manager/src/main/kotlin/mediaManager/profile/Profile.kt
  media_manager/src/main/kotlin/mediaManager/profile/ProfileRepository.kt
  media_manager/src/main/kotlin/mediaManager/profile/ProfileResponseDto.kt
  media_manager/src/main/kotlin/mediaManager/profile/ProfileService.kt
  media_manager/src/main/kotlin/mediaManager/user/CustomUserDetailsService.kt
  media_manager/src/main/kotlin/mediaManager/user/UserController.kt
  media_manager/src/main/kotlin/mediaManager/user/UserService.kt
  media_manager/src/main/resources/application.properties
  media_manager/src/main/resources/messages_en_US.properties
  media_manager/src/main/resources/messages_fa_IR.properties
Due: media_manager

Add tokens to cookies in media-hub
  media_hub/package.json
  media_hub/src/app/auth/layout.module.scss
  media_hub/src/app/auth/login/Form.tsx
  media_hub/src/app/auth/register/Form.tsx
  media_hub/src/shared/components/button/Button.tsx
  media_hub/src/shared/components/toast/ToastContext.tsx
  media_hub/src/shared/components/toast/ToastItem.tsx
  media_hub/src/shared/components/toast/ToastProvider.tsx
  media_hub/src/shared/configs/general.ts
  media_hub/src/shared/configs/index.ts
  media_hub/src/shared/providers/AppProviders.tsx
  media_hub/src/shared/services/api-service.ts
  media_hub/src/shared/theme/_bootstrap-overrides.scss
  media_hub/src/shared/theme/globals.scss
  media_hub/src/shared/types/globals.d.ts
  media_hub/src/shared/utils/auth.ts
  media_hub/src/shared/utils/index.ts
  media_hub/src/shared/utils/locale.ts
  media_manager/api_spec/docs.yaml
  media_manager/src/main/kotlin/mediaManager/auth/dtos/login/LoginRequestDto.kt
  media_manager/src/main/kotlin/mediaManager/auth/dtos/login/LoginResponseDto.kt
  media_manager/src/main/kotlin/mediaManager/auth/dtos/refreshToken/RefreshTokenRequestDto.kt
  media_manager/src/main/kotlin/mediaManager/auth/dtos/refreshToken/RefreshTokenResponseDto.kt
  media_manager/src/main/kotlin/mediaManager/auth/dtos/register/RegisterRequestDto.kt
  media_manager/src/main/kotlin/mediaManager/auth/dtos/sendOtp/SendOTPRequestDto.kt
  media_manager/src/main/kotlin/mediaManager/profile/ProfileResponseDto.kt
  media_manager/src/main/kotlin/mediaManager/restAPI/ExceptionHandlerController.kt
  media_manager/src/main/kotlin/mediaManager/restAPI/HttpException.kt
  media_manager/src/main/kotlin/mediaManager/restAPI/HttpResponse.kt
  yarn.lock
Due: media_hub_scripts, media_hub_assets, media_manager

Add tokens to cookies in media-hub (#13)
  media_hub/package.json
  media_hub/src/app/auth/layout.module.scss
  media_hub/src/app/auth/login/Form.tsx
  media_hub/src/app/auth/register/Form.tsx
  media_hub/src/shared/components/button/Button.tsx
  media_hub/src/shared/components/toast/ToastContext.tsx
  media_hub/src/shared/components/toast/ToastItem.tsx
  media_hub/src/shared/components/toast/ToastProvider.tsx
  media_hub/src/shared/configs/general.ts
  media_hub/src/shared/configs/index.ts
  media_hub/src/shared/providers/AppProviders.tsx
  media_hub/src/shared/services/api-service.ts
  media_hub/src/shared/theme/_bootstrap-overrides.scss
  media_hub/src/shared/theme/globals.scss
  media_hub/src/shared/types/globals.d.ts
  media_hub/src/shared/utils/auth.ts
  media_hub/src/shared/utils/index.ts
  media_hub/src/shared/utils/locale.ts
  media_manager/api_spec/docs.yaml
  media_manager/src/main/kotlin/mediaManager/auth/dtos/login/LoginRequestDto.kt
  media_manager/src/main/kotlin/mediaManager/auth/dtos/login/LoginResponseDto.kt
  media_manager/src/main/kotlin/mediaManager/auth/dtos/refreshToken/RefreshTokenRequestDto.kt
  media_manager/src/main/kotlin/mediaManager/auth/dtos/refreshToken/RefreshTokenResponseDto.kt
  media_manager/src/main/kotlin/mediaManager/auth/dtos/register/RegisterRequestDto.kt
  media_manager/src/main/kotlin/mediaManager/auth/dtos/sendOtp/SendOTPRequestDto.kt
  media_manager/src/main/kotlin/mediaManager/profile/ProfileResponseDto.kt
  media_manager/src/main/kotlin/mediaManager/restAPI/ExceptionHandlerController.kt
  media_manager/src/main/kotlin/mediaManager/restAPI/HttpException.kt
  media_manager/src/main/kotlin/mediaManager/restAPI/HttpResponse.kt
  yarn.lock
Due: media_hub_scripts, media_hub_assets, media_manager

Fixed properties encoding
  media_manager/src/main/resources/application.properties
Due: none

Fixed properties encoding (#14)
  media_manager/src/main/resources/application.properties
Due: none

Add fonts to the project
  media_hub/src/app/layout.tsx
  media_hub/src/shared/theme/_bootstrap-overrides.scss
  media_hub/src/shared/theme/_helpers.scss
  media_hub/src/shared/theme/fonts/IRANSansX/index.ts
  media_hub/src/shared/theme/fonts/IRANSansX/woff/IRANSansX-Black.woff
  media_hub/src/shared/theme/fonts/IRANSansX/woff/IRANSansX-Bold.woff
  media_hub/src/shared/theme/fonts/IRANSansX/woff/IRANSansX-DemiBold.woff
  media_hub/src/shared/theme/fonts/IRANSansX/woff/IRANSansX-ExtraBold.woff
  media_hub/src/shared/theme/fonts/IRANSansX/woff/IRANSansX-Light.woff
  media_hub/src/shared/theme/fonts/IRANSansX/woff/IRANSansX-Medium.woff
  media_hub/src/shared/theme/fonts/IRANSansX/woff/IRANSansX-Regular.woff
  media_hub/src/shared/theme/fonts/IRANSansX/woff/IRANSansX-Thin.woff
  media_hub/src/shared/theme/fonts/IRANSansX/woff/IRANSansX-UltraLight.woff
  media_hub/src/shared/theme/fonts/IRANSansX/woff2/IRANSansX-Black.woff2
  media_hub/src/shared/theme/fonts/IRANSansX/woff2/IRANSansX-Bold.woff2
  media_hub/src/shared/theme/fonts/IRANSansX/woff2/IRANSansX-DemiBold.woff2
  media_hub/src/shared/theme/fonts/IRANSansX/woff2/IRANSansX-ExtraBold.woff2
  media_hub/src/shared/theme/fonts/IRANSansX/woff2/IRANSansX-Light.woff2
  media_hub/src/shared/theme/fonts/IRANSansX/woff2/IRANSansX-Medium.woff2
  media_hub/src/shared/theme/fonts/IRANSansX/woff2/IRANSansX-Regular.woff2
  media_hub/src/shared/theme/fonts/IRANSansX/woff2/IRANSansX-Thin.woff2
  media_hub/src/shared/theme/fonts/IRANSansX/woff2/IRANSansX-UltraLight.woff2
  media_hub/src/shared/theme/fonts/index.ts
  media_hub/src/shared/theme/globals.scss
  media_hub/src/shared/theme/index.ts
  media_hub/src/shared/theme/variables/colors.module.scss
  media_hub/src/shared/theme/variables/colors.ts
  media_hub/src/shared/theme/variables/index.ts
  media_hub/src/shared/theme/variables/spacings.module.scss
  media_hub/src/shared/theme/variables/spacings.ts
Due: media_hub_scripts, media_hub_assets

Add fonts to the project (#15)
  media_hub/src/app/layout.tsx
  media_hub/src/shared/theme/_bootstrap-overrides.scss
  media_hub/src/shared/theme/_helpers.scss
  media_hub/src/shared/theme/fonts/IRANSansX/index.ts
  media_hub/src/shared/theme/fonts/IRANSansX/woff/IRANSansX-Black.woff
  media_hub/src/shared/theme/fonts/IRANSansX/woff/IRANSansX-Bold.woff
  media_hub/src/shared/theme/fonts/IRANSansX/woff/IRANSansX-DemiBold.woff
  media_hub/src/shared/theme/fonts/IRANSansX/woff/IRANSansX-ExtraBold.woff
  media_hub/src/shared/theme/fonts/IRANSansX/woff/IRANSansX-Light.woff
  media_hub/src/shared/theme/fonts/IRANSansX/woff/IRANSansX-Medium.woff
  media_hub/src/shared/theme/fonts/IRANSansX/woff/IRANSansX-Regular.woff
  media_hub/src/shared/theme/fonts/IRANSansX/woff/IRANSansX-Thin.woff
  media_hub/src/shared/theme/fonts/IRANSansX/woff/IRANSansX-UltraLight.woff
  media_hub/src/shared/theme/fonts/IRANSansX/woff2/IRANSansX-Black.woff2
  media_hub/src/shared/theme/fonts/IRANSansX/woff2/IRANSansX-Bold.woff2
  media_hub/src/shared/theme/fonts/IRANSansX/woff2/IRANSansX-DemiBold.woff2
  media_hub/src/shared/theme/fonts/IRANSansX/woff2/IRANSansX-ExtraBold.woff2
  media_hub/src/shared/theme/fonts/IRANSansX/woff2/IRANSansX-Light.woff2
  media_hub/src/shared/theme/fonts/IRANSansX/woff2/IRANSansX-Medium.woff2
  media_hub/src/shared/theme/fonts/IRANSansX/woff2/IRANSansX-Regular.woff2
  media_hub/src/shared/theme/fonts/IRANSansX/woff2/IRANSansX-Thin.woff2
  media_hub/src/shared/theme/fonts/IRANSansX/woff2/IRANSansX-UltraLight.woff2
  media_hub/src/shared/theme/fonts/index.ts
  media_hub/src/shared/theme/globals.scss
  media_hub/src/shared/theme/index.ts
  media_hub/src/shared/theme/variables/colors.module.scss
  media_hub/src/shared/theme/variables/colors.ts
  media_hub/src/shared/theme/variables/index.ts
  media_hub/src/shared/theme/variables/spacings.module.scss
  media_hub/src/shared/theme/variables/spacings.ts
Due: media_hub_scripts, media_hub_assets

Add responsiveness to login and register pages
  media_hub/.yarnrc.yml
  media_hub/package.json
  media_hub/public/images/auth/layout-background-desktop.jpeg
  media_hub/public/images/auth/layout-background-mobile.jpeg
  media_hub/src/app/auth/layout.module.scss
  media_hub/src/app/auth/layout.tsx
  media_hub/src/app/auth/register/Form.module.scss
  media_hub/src/shared/theme/_helpers.scss
  media_hub/src/shared/theme/mixins/_breakpoints.scss
  package.json
  turbo.json
Due: media_hub_scripts, media_hub_assets

Add responsiveness to login and register pages (#16)
  media_hub/.yarnrc.yml
  media_hub/package.json
  media_hub/public/images/auth/layout-background-desktop.jpeg
  media_hub/public/images/auth/layout-background-mobile.jpeg
  media_hub/src/app/auth/layout.module.scss
  media_hub/src/app/auth/layout.tsx
  media_hub/src/app/auth/register/Form.module.scss
  media_hub/src/shared/theme/_helpers.scss
  media_hub/src/shared/theme/mixins/_breakpoints.scss
  package.json
  turbo.json
Due: media_hub_scripts, media_hub_assets

Fixed bootstrap rtl issue
  media_hub/package.json
  media_hub/postcss.config.json
  media_hub/src/app/auth/layout.module.scss
  media_hub/src/shared/theme/globals.scss
  yarn.lock
Due: media_hub_assets

Fixed bootstrap rtl issue (#17)
  media_hub/package.json
  media_hub/postcss.config.json
  media_hub/src/app/auth/layout.module.scss
  media_hub/src/shared/theme/globals.scss
  yarn.lock
Due: media_hub_assets

Add docker and compose files
  docker-compose.yml
  media_manager/Dockerfile
  media_manager/src/main/resources/application.properties
Due: none

Add docker and compose files (#18)
  docker-compose.yml
  media_manager/Dockerfile
  media_manager/src/main/resources/application.properties
Due: none

Add Simple S3 storage configuration
  docker-compose.yml
  media_manager/Dockerfile
  media_manager/build.gradle
  media_manager/docker-compose.yml
  media_manager/src/main/kotlin/mediaManager/s3/S3Config.kt
  media_manager/src/main/kotlin/mediaManager/s3/S3Properties.kt
  media_manager/src/main/kotlin/mediaManager/s3/S3Service.kt
  media_manager/src/main/resources/application.properties
Due: media_manager

Add Simple S3 storage configuration (#19)
  docker-compose.yml
  media_manager/Dockerfile
  media_manager/build.gradle
  media_manager/docker-compose.yml
  media_manager/src/main/kotlin/mediaManager/s3/S3Config.kt
  media_manager/src/main/kotlin/mediaManager/s3/S3Properties.kt
  media_manager/src/main/kotlin/mediaManager/s3/S3Service.kt
  media_manager/src/main/resources/application.properties
Due: media_manager

Add Sign method for s3 objects
  media_manager/Dockerfile
  media_manager/build.gradle
  media_manager/docker-compose.yml
  media_manager/src/main/kotlin/mediaManager/s3/S3Config.kt
  media_manager/src/main/kotlin/mediaManager/s3/S3ObjectMode.kt
  media_manager/src/main/kotlin/mediaManager/s3/S3Properties.kt
  media_manager/src/main/kotlin/mediaManager/s3/S3Service.kt
  media_manager/src/main/resources/application.properties
Due: media_manager

Add Sign method for s3 objects (#20)
  media_manager/Dockerfile
  media_manager/build.gradle
  media_manager/docker-compose.yml
  media_manager/src/main/kotlin/mediaManager/s3/S3Config.kt
  media_manager/src/main/kotlin/mediaManager/s3/S3ObjectMode.kt
  media_manager/src/main/kotlin/mediaManager/s3/S3Properties.kt
  media_manager/src/main/kotlin/mediaManager/s3/S3Service.kt
  media_manager/src/main/resources/application.properties
Due: media_manager

add date. not complete
  media_manager/src/main/kotlin/mediaManager/constants/DateTimeConstants.kt
  media_manager/src/main/kotlin/mediaManager/date/Date.kt
  media_manager/src/main/kotlin/mediaManager/date/DateController.kt
  media_manager/src/main/kotlin/mediaManager/date/DateRepository.kt
  media_manager/src/main/kotlin/mediaManager/date/DateService.kt
  media_manager/src/main/kotlin/mediaManager/date/dateAsset/DateAsset.kt
  media_manager/src/main/kotlin/mediaManager/date/dateAsset/DateAssetRepository.kt
  media_manager/src/main/kotlin/mediaManager/date/dateAsset/DateAssetService.kt
  media_manager/src/main/kotlin/mediaManager/date/dateAsset/DateAssetType.kt
  media_manager/src/main/kotlin/mediaManager/date/datePartner/DatePartner.kt
  media_manager/src/main/kotlin/mediaManager/date/datePartner/DatePartnerRepository.kt
  media_manager/src/main/kotlin/mediaManager/date/datePartner/DatePartnerService.kt
  media_manager/src/main/kotlin/mediaManager/date/datePartner/dtos/DatePartnerCreationRequestDto.kt
  media_manager/src/main/kotlin/mediaManager/date/dtos/DateCreationRequestDto.kt
  media_manager/src/main/kotlin/mediaManager/profile/ProfileService.kt
  media_manager/src/main/kotlin/mediaManager/user/User.kt
  media_manager/src/main/kotlin/mediaManager/user/UserService.kt
  media_manager/src/main/kotlin/mediaManager/validations/File.kt
  media_manager/src/main/kotlin/mediaManager/validations/ValidEnum.kt
Due: media_manager
